*:focus { 
  outline: none; 
  }

.highlight {
    background-color: #FFFF88;
}

#map-canvas { 
  height: 250px; 
  border: 1px solid #AAA; 
  padding: 0;
}


.table {
/*  font-size: 14px;*/

}

#images {
  display: inline-block;
  height: 250px;
  overflow-y:auto

}

#container1 {
    width: 90%;
    height: 600px;
    margin: 30px auto;

}

#container2 {
    width: 95%;
    margin: 30px auto;
}

#container3 {
    width: 100%;
    margin: 30px auto;
}

img.preloader {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}


h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 20px;
    letter-spacing: -2px;
    border-bottom: 1px solid #dbdbdb;
}

p {
    /*margin-bottom: 20px;*/
}

blockquote {
    display: block;
    padding-left: 20px;
    border-left: 6px solid #df0d32;
}



.editable,
.secondEditable
 {
    outline: 0px solid transparent;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #dbdbdb;
    height: 600px;
    overflow-y:auto
}

pre {
    font-family: 'Menlo', monospace;
    font-size: 15px;
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
}

#container {
    outline: 0px solid transparent;
    width: 400px;
    margin: 30px auto;
}


h3 {
    font-size: 32px;
    line-height: 42px;
}

h4 {
    font-size: 26px;
    line-height: 32px;
}


blockquote {
    border-left: 5px solid #555;
    margin-left: -15px;
    padding-left: 15px;
    font-style: italic;
    color: #555;
}







/*Form stuff*/



.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
div.navbar-header img {
    width: 30px;
    float: left;
    margin-top: 7px;
    margin-right: 7px;
}
