<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel="stylesheet" href="/static/css/medium-editor.css">
        <link rel="stylesheet" href="/static/css/themes/default.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

        <script src="/static/js/medium-editor.js"></script>
        <!-- Medium editor JS -->
        <script src="/static/js/jquery-1.11.1.min.js"></script>
        <!-- jQuery v1.11.0 -->
        <script src="/static/js/bootstrap-3.2.0.min.js"></script>
        <!-- Bootstrap's JS -->
        <script src="/static/js/jquery.highlight.js"></script>
        <!-- Highlight JS -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUzvBotol9Bp8Z10N72JKs0_Mr6K0aFkA"></script>
        <!-- Google maps -->
        <script src="/static/js/jquery.magnific-popup.js"></script> 
        <!-- Magnific Popup core JS file -->


    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-panel">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">News Context Explorer</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <small>Powered by <img src="static/img/wikipedia_logo.png" height="50"></small>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="flashes">
                <li>{{message}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>

        <script src="/static/js/context.js"></script>
        <!-- Main JS -->



    </body>
</html>