{% extends 'base.html' %}
{% block body %}

<p>
I'mma process your file
<strong>{{ session.filename }}</strong>
on the path
<strong>{{session.filepath}}</strong>
</p>

<p>
The simple word count is {{ simple }}
</p>

<p>
But there's a lot more I want to show you here.  
</p>
<p>
For now let's go take a look at your entities.  
What target language do you want to explore?
</p>

<div class="form-group">
<form class="form" method="GET" action="/entities">
    <label for="target_lang">Target language</label>
    <select id="target_lang" class="form-control" name="target_lang">
  		<option>es</option>
  		<option>fr</option>
 		<option>de</option>
  		<option>it</option>
  		<option>pt</option>
  		<option>ar</option>
	</select>
	<br>
	 <button class="btn btn-primary btn-lg" type="submit">Go</button>
</div>
</form>






{% endblock %}