{% extends 'base.html' %}
{% block body %}



<p>
<h1> Wikipedia says: </h1>
</p>


  <table class="table">

<tr><th>Organizations in en</th><th>Equivalent in {{ target_lang  }}</th></tr>    

    {% for key, value in organizations.iteritems() %}

<tr><td><a href="http://en.wikipedia.org/wiki/{{ key }}">{{ key }}</a></td><td><a href="http://{{ target_lang }}.wikipedia.org/wiki/{{ key }}">{{ value[3] }}</a></td></tr>

    {% endfor %}

  </table>


  <table class="table">

<tr><th>Locations in en</th><th>Equivalent in {{ target_lang  }}</th></tr>    

    {% for key, value in locations.iteritems() %}

<tr><td><a href="http://en.wikipedia.org/wiki/{{ key }}">{{ key }}</a></td><td><a href="http://{{ target_lang  }}.wikipedia.org/wiki/{{ key }}">{{ value[3] }}</a></td></tr>

    {% endfor %}

  </table>


  <table class="table">

<tr><th>People in en</th><th>Equivalent in {{ target_lang  }}</th></tr>    

    {% for key, value in people.iteritems() %}

<tr><td><a href="http://en.wikipedia.org/wiki/{{ key }}">{{ key }}</a></td><td><a href="http://{{ target_lang  }}.wikipedia.org/wiki/{{ key }}">{{ value[3] }}</a></td></tr>

    {% endfor %}

  </table>

  <table class="table">

<tr><th>Nouns in en</th><th>Equivalent in {{ target_lang  }}</th></tr>    

    {% for key, value in nouns.iteritems() %}

<tr><td><a href="http://en.wikipedia.org/wiki/{{ key }}">{{ key }}</a></td><td><a href="http://{{ target_lang  }}.wikipedia.org/wiki/{{ key }}">{{ value[3] }}</a></td></tr>

    {% endfor %}

  </table>



{% endblock %}