


    <style type="text/css">
      #map-canvas { height: 250px; border: 1px solid #AAA; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUzvBotol9Bp8Z10N72JKs0_Mr6K0aFkA">
    </script>


<div id="map-canvas"></div>


    <script type="text/javascript">


    var mapData = {'New_York': {'lat': 40.7305991, 'lon': -73.9865812, 'name': 'New York'}, 'Georgia': {'lat': 32.3293809, 'lon': -83.1137366, 'name': 'Georgia'}, 'Iowa': {'lat': 41.9216734, 'lon': -93.3122705, 'name': 'Iowa'}, 'Colorado': {'lat': 38.7251776, 'lon': -105.6077167, 'name': 'Colorado'}, 'Asheville': {'lat': 35.6009498, 'lon': -82.5540161, 'name': 'Asheville'}}

    var placelist ={}
  
    $.each(mapData, function(key, value) {

    pos = new google.maps.LatLng(value['lat'], value['lon']); 

    placelist[value['name']] = pos

    });    

        var mapOptions = {
          center: { lat: 41.921, lng: -93.312}, 
          zoom: 3
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

  var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);


    $.each(placelist, function(key, value) {

      console.log(value)
      console.log(key)

    var marker = new google.maps.Marker({
    position: value,
    title: key
    });

    marker.setMap(map);

    });
    

    </script>

