<div id="container2">


		  {% if people %}
		  <table class="table">

		<tr><th>On Wikipedia: </th><th></th></tr>    

		    {% for key, value in people.iteritems() %}

		<tr><td><a href="http://en.wikipedia.org/wiki/{{ value['title'] }}">{{ value['title'] }}</a></td><td><a href="http://{{ session.target_lang  }}.wikipedia.org/wiki/{{ value['title'] }}">{{ value['targetwiki'] }}</a></td></tr>

		    {% endfor %}

		  </table>



		  <a class="twitter-timeline" href="https://twitter.com/search?q={{ twitterquery }}}" data-widget-id="532056977937944576">Tweets about these people</a> 


		  	{% else %}
		  	<p>We didn't find any!</p>
		    {% endif %}

		  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");



		  </script>


<div>