<div id="container2">


		  {% if people %}


		<div id="gallery" class="popup-gallery">

		{% for key, value in people.iteritems() -%}	  

		  {% if value['thumbnail'] -%}

			<a href="{{ value['thumbnail'] }}" title="{{ value['title'] }}"><img style="margin: 3px;" src="{{ value['thumbnail'] }}" height="100"></a>


			{%- endif %}

		    {%- endfor %}

		</div>



		<div>

	<div id="containertable">
		
		<p><strong>&nbsp;On Wikipedia: </strong> </b>	
		<table class="table table-hover">
			<thead>
				<tr>
				<th>{{ session.source_name }}</th><th>{{ session.target_name }}</th>
				</tr> 
			</thead>

		    {% for key, value in people.iteritems() %}

		<tbody>
			<tr>
				<td><a target="_blank" href="http://en.wikipedia.org/wiki/{{ value['title'] }}">{{ value['title'] }}</a></td>
				<td><a target="_blank" href="http://{{ session.target_lang  }}.wikipedia.org/wiki/{{ value['targetwiki'] }}">{{ value['targetwiki'] }}</a></td>
			</tr>

		    {% endfor %}

			 <tr><td></td>
			 	<td> </td>
			 </tr>
		</tbody>

		</table>
	</div>

		<p align="right"> Download .csv file <a href="{{ downfile }}"><span class="glyphicon glyphicon-download" aria-hidden="true"></a></span></p>


		  	{% else %}
		  	<p>We didn't find any!</p>
		    {% endif %}


<div>

    	<script type="text/javascript">


			 $(document).ready(function() {

			 	 magnificPopup();


			 });


		</script>