<div id="container2">



		{% if locations %}


		<div id="map-canvas"></div>
		

		  <table class="table">

		<tr><th>On Wikipedia: </th><th></th></tr>    

		    {% for key, value in locations.iteritems() %}

		<tr>
			<td><a href="http://en.wikipedia.org/wiki/{{ value['title'] }}">{{ value['title'] }}</a></td>
			<td><a href="http://{{ session.target_lang  }}.wikipedia.org/wiki/{{ value['title'] }}">{{ value['targetwiki'] }}</a></td>
		</tr>

		    {% endfor %}

		 <tr><td>Download .csv file <a href="{{ downfile }}"><span class="glyphicon glyphicon-download" aria-hidden="true"></a></span></td>
		 	<td> </td>
		 </tr>

		  </table>


		  	{% else %}
		  	<p>We didn't find any!</p>
		    {% endif %}


<div>



    <script type="text/javascript">


	googleMaploader({{geocodes|safe}});


function googleMaploader(mapData) {

	var mapOptions = {
		center: { lat: 30.00, lng: -30.00}, 
		zoom: 2
    };
	var map = new google.maps.Map($('#map-canvas').get(0),
         mapOptions);

	$.each(mapData, function(key, value) {

	
    	var marker = new google.maps.Marker({
			position: { lat: value["lat"], lng: value["lon"]},
			title: value["name"]
	    });

	    marker.setMap(map);

    });  
	

}    



    </script>

