<div id="container2">



		{% if locations %}


	<div id="map-canvas"></div>
		
		<div id="containertable">

		<p><strong>&nbsp;On Wikipedia: </strong> </b>	
		<table class="table table-hover">
			<thead>
				<tr>
				<th>{{ session.source_name }}</th><th>{{ session.target_name }}</th>
				</tr> 
			</thead>

		    {% for key, value in locations.iteritems() %}

		<tbody>
			<tr>
				<td><a target="_blank" href="http://en.wikipedia.org/wiki/{{ value['title'] }}">{{ value['title'] }}</a></td>
				<td><a target="_blank" href="http://{{ session.target_lang  }}.wikipedia.org/wiki/{{ value['targetwiki'] }}">{{ value['targetwiki'] }}</a></td>
			</tr>

		    {% endfor %}

			 <tr><td></td>
			 	<td> </td>
			 </tr>
		</tbody>

		</table>
	</div>
				<p align="right"> Download .csv file <a href="{{ downfile }}"><span class="glyphicon glyphicon-download" aria-hidden="true"></a></span></p>

		  	{% else %}
		  	<p>We didn't find any!</p>
		    {% endif %}


<div>



    <script type="text/javascript">




	googleMaploader({{geocodes|safe}});



function googleMaploader(mapData) {

	var mapOptions = {
		center: { lat: 30.00, lng: -30.00}, 
		zoom: 2
    };
	var map = new google.maps.Map($('#map-canvas').get(0),
         mapOptions);

	$.each(mapData, function(key, value) {

	
    	var marker = new google.maps.Marker({
			position: { lat: value["lat"], lng: value["lon"]},
			title: value["name"]
	    });

	    marker.setMap(map);

    });  

    googleMapRefresher(map)

}

function googleMapRefresher(map) {

	google.maps.event.trigger(map, 'resize');   

}




    </script>

